input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    .row.g-3 {
        flex-direction: column;
        align-items: center;
    }

    .col-md-3, .col-md-2, .col-md-1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn {
        width: 100%;
    }
}