<h1 class="text-center mt-5">Sobre o Projeto</h1>

<div class="card shadow-sm p-4 my-5">
    <div class="card-body fs-5 text-justify">
        <p>
            O <strong>Currency Hub</strong> foi realizado como parte do desafio técnico para a vaga de estágio em desenvolvimento, proposto pela empresa GIRO.TECH. O objetivo deste desafio foi avaliar minhas habilidades em desenvolvimento web, lógica de programação e manipulação de dados.
        </p>

        <h5>Funcionalidades Implementadas</h5>
        <p>
            Neste projeto, criei um painel financeiro que consome dados da HG Brasil Finance API, exibindo informações financeiras atualizadas de forma clara e intuitiva. Além disso, implementei uma funcionalidade que permite ao usuário atualizar os dados financeiros ao clicar em um botão.
        </p>

        <h5>Conversor de Moedas</h5>
        <p>
            Proporciona aos usuários uma ferramenta prática para realizar conversões entre diferentes moedas em tempo real.
        </p>

        <h5>Por que "Currency Hub"?</h5>
        <p>
            O nome <strong>Currency Hub</strong> foi escolhido porque reflete bem o objetivo do projeto. "Currency" se refere diretamente às <strong>moedas</strong> e <strong>cotações</strong>, que são o foco principal do projeto. Já "Hub" transmite a ideia de um <strong>centro</strong>, um local onde diferentes informações se conectam e ficam acessíveis de forma centralizada.
        </p>

        <h5>Conclusão</h5>
        <p>
            Este projeto demonstra minhas habilidades na integração com <strong>APIs</strong>, na criação de ferramentas financeiras úteis e no cuidado com a <strong>estilização</strong>, garantindo um design moderno e responsivo.
        </p>
    </div>
</div>