<footer class="bg-body-tertiary fs-5">
    <hr>
    <div class="container p-4 pb-md-0">
        <div class="row">

            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Currency Hub - Seu painel financeiro em tempo real!</h5>
                <p class="pe-5">
                    Seu painel financeiro atualizado em tempo real. Acompanhe as taxas de juros brasileiras e cotações de moedas, tudo de forma rapida e intuitiva!
                </p>
            </div>

            <div class="col-6 col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Navegação</h5>

                <ul class="list-unstyled m-0">
                    <li>
                        <a href="#!" class="text-body">Home</a>
                    </li>
                    <li>
                        <a routerLink="/conversor" class="text-body">Conversor de Moedas</a>
                    </li>
                    <li>
                        <a routerLink="/sobre" class="text-body">Sobre</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contato</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://workspace.google.com/intl/pt-BR/gmail/" target="_blank" class="text-body" aria-label="Email">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" class="text-body" aria-label="LinkedIn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="text-body" aria-label="Instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank" class="text-body" aria-label="WhatsApp">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center p-3">
        © 2025 Desenvolvido por Clara Joaquim
        <br>
        <small>Dados fornecidos pela <a href="https://www.hgbrasil.com/finance/" class="text-body">HG Brasil Finance API</a></small>
    </div>

</footer>
